<form method="POST" action="/taskdetails/store" class="mt-4 container-form">
    <h2 class="heading-form">{{task.name}}</h2>
    <div class="input-form">
        <input type="hidden" name="idtask" value="{{task._id}}">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nhiệm vụ mới">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
    <div class="task-details">
        <div class="task-details__heading">Danh sách nhiệm vụ</div>
        {{#each task.taskdetails}}
        <div class="task-details__assignment {{isCompleted this.completed}}">
            <input type="checkbox" class="input-check" data-id="{{this._id}}" {{isChecked this.completed}}>
            <div class="assignment">{{this.name}}</div>
            <div class="edit-assignment">
                <a href="/taskdetails/{{this._id}}/edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="delete-assignment">
                <a href="#" class="js-delete-assignment" data-id="{{this._id}}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>       
        </div>
        {{/each}}
    </div>
</form>

{{!-- Delete form hidden --}}
<form name="form-delete-taskdetail" method="POST"></form>

{{!-- Update missions form hidden --}}
<form name="form-update-status-mission" method="POST">
    <input type="hidden" name="completedMissionQuantity" value="{{task.completedMissionQuantity}}" class="js-completed-mission-quantity">
    <input type="hidden" name="idtask" value="{{task._id}}">
    <input type="hidden" name="slug" value="{{task.slug}}">
    <input type="hidden" name="completed" class="js-completed-mission">
</form>

<script>
    var btnDeleteTaskdetail
    var taskDetailId
    var deleteForm
    var updateStatusMission
    var arrInputCheck
    var valueCompleted
    var completedMissionQuantity

    // callback run when DOM loaded completed
    document.addEventListener('DOMContentLoaded', function () {
        deleteForm = document.forms['form-delete-taskdetail']
        updateStatusMission = document.forms['form-update-status-mission']
        btnArrDeleteTaskdetail = document.querySelectorAll('.js-delete-assignment')
        arrInputCheck = document.querySelectorAll('.input-check')
        valueCompleted = document.querySelector('.js-completed-mission')
        completedMissionQuantity = document.querySelector('.js-completed-mission-quantity')

        for (const btnDeleteTaskdetail of btnArrDeleteTaskdetail) {
            btnDeleteTaskdetail.addEventListener('click', function (e) {
                e.preventDefault()
                taskDetailId = btnDeleteTaskdetail.getAttribute('data-id')
                deleteForm.action = `/taskdetails/${taskDetailId}?_method=DELETE`
                deleteForm.submit()
            })
        }

        for (const itemInputCheck of arrInputCheck) {
            itemInputCheck.onclick = function () {
                taskDetailId = itemInputCheck.getAttribute('data-id')
                updateStatusMission.action = `/taskdetails/${taskDetailId}?_method=PUT`
                if (itemInputCheck.checked) {
                    valueCompleted.value = true
                    completedMissionQuantity.value = parseInt(completedMissionQuantity.value) + 1
                } else {
                    valueCompleted.value = false
                    completedMissionQuantity.value = parseInt(completedMissionQuantity.value) - 1
                }
                updateStatusMission.submit()
            } 
        }
    })
</script>